[submodule "extern/ana_parflow-diagnostics_pythonheat"]
	path = extern/ParFlowDiagnostics
	url = https://github.com/HPSCTerrSys/ParFlowDiagnostics.git
[submodule "extern/colormaps"]
	path = extern/colormaps
	url = https://github.com/pratiman-91/colormaps.git
