alembic==1.4.2
apipkg==1.5
appdirs==1.4.4
argcomplete==1.12.0
asn1crypto==1.3.0
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
basemap==1.2.1
bcrypt==3.1.7
bitstring==3.1.7
blist==1.3.6
Cartopy @ file:///dev/shm/swmanage/Cartopy/0.18.0/gpsmpi-2020-Python-3.8.5/Cartopy/Cartopy-0.18.0
certifi==2020.6.20
cffi==1.14.1
cftime @ file:///dev/shm/swmanage/netcdf4python/1.5.4/gpsmpi-2020-Python-3.8.5/cftime/cftime-1.2.1
chardet==3.0.4
click==7.1.2
click-plugins @ file:///dev/shm/swmanage/Fiona/1.8.16/gpsmpi-2020-Python-3.8.5/clickplugins/click-plugins-1.1.1
cligj @ file:///dev/shm/swmanage/Fiona/1.8.16/gpsmpi-2020-Python-3.8.5/cligj/cligj-0.5.0
cloudpickle==1.5.0
ClusterShell==1.8.3
coverage==5.1
cryptography==3.0
cycler==0.10.0
Cython==0.29.21
deap==1.3.1
decorator==4.4.2
deprecation==2.1.0
ecdsa==0.15
enum34==1.1.10
execnet==1.7.1
Fiona @ file:///dev/shm/swmanage/Fiona/1.8.16/gpsmpi-2020-Python-3.8.5/Fiona/Fiona-1.8.16
Flask==1.1.2
funcsigs==1.0.2
future==0.18.2
GDAL==3.1.2
grako==3.99.9
h5netcdf==0.8.1
h5py==2.10.0
html5lib==1.1
hypothesis==4.44.2
idna==2.10
ipaddress==1.0.23
ipython==7.16.1
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
kiwisolver==1.2.0
liac-arff==2.4.0
libxml2-python @ file:///dev/shm/swmanage/libxml2python/2.9.10/GCCcore-9.3.0-Python-3.8.5/libxml2-2.9.10/python
lockfile==0.12.2
lxml==4.5.2
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mock==4.0.2
more-itertools==8.4.0
mpi4py==3.0.3
mpmath==1.1.0
msgpack==0.6.2
munch @ file:///dev/shm/swmanage/Fiona/1.8.16/gpsmpi-2020-Python-3.8.5/munch/munch-2.5.0
netaddr==0.8.0
netCDF4 @ file:///dev/shm/swmanage/netcdf4python/1.5.4/gpsmpi-2020-Python-3.8.5/netcdf4python/netCDF4-1.5.4
netifaces==0.10.9
networkx==2.4
nose==1.3.7
numpy==1.19.1
olefile==0.46
OWSLib @ file:///dev/shm/swmanage/Cartopy/0.18.0/gpsmpi-2020-Python-3.8.5/OWSLib/OWSLib-0.20.0
packaging==20.4
pandas==1.1.0
paramiko==2.7.1
parso==0.7.1
pathlib2==2.3.5
paycheck==1.0.2
pbr==5.4.5
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
ply==3.11
prompt-toolkit==3.0.5
protobuf==3.13.0
prov==1.5.3
psutil==5.7.2
psycopg2==2.8.5
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pycparser==2.20
pycrypto==2.6.1
pydot==1.4.1
pydotplus==2.0.2
pyepsg @ file:///dev/shm/swmanage/Cartopy/0.18.0/gpsmpi-2020-Python-3.8.5/pyepsg/pyepsg-0.4.0
Pygments==2.6.1
pykdtree @ file:///dev/shm/swmanage/Cartopy/0.18.0/gpsmpi-2020-Python-3.8.5/pykdtree/pykdtree-1.3.1
PyNaCl==1.4.0
pyparsing==2.4.7
pyproj @ file:///dev/shm/swmanage/pyproj/2.6.1.post1/GCCcore-9.3.0-Python-3.8.5/pyproj-2.6.1.post1
pyrsistent==0.16.0
pyshp @ file:///dev/shm/swmanage/Cartopy/0.18.0/gpsmpi-2020-Python-3.8.5/pyshp/pyshp-2.1.0
pytest==5.4.3
pytest-forked==1.3.0
pytest-runner==5.2
pytest-xdist==1.34.0
python-dateutil==2.8.1
python-editor==1.0.4
python-gflags==3.1.2
python-oauth2==1.1.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==18.1.0
rdflib==5.0.0
requests==2.24.0
Rtree==0.9.4
scandir==1.10.0
scipy==1.5.2
seaborn==0.10.1
setuptools-scm==4.1.2
Shapely @ file:///dev/shm/swmanage/Shapely/1.7.1/GCCcore-9.3.0-Python-3.8.5/Shapely-1.7.1
simplegeneric==0.8.1
simplejson==3.17.2
six==1.15.0
SPARQLWrapper==1.8.5
SQLAlchemy==1.3.18
sympy==1.6.1
TatSu==5.5.0
toml==0.10.1
toolz==0.10.0
traitlets==4.3.3
traits==6.1.1
urllib3==1.25.10
vcversioner==2.16.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wradlib==1.9.0
xarray==0.16.0
XlsxWriter==1.2.9
xmltodict==0.12.0
